
@model Image.Models.Entities.ImageCompetitionRating
@{
    Layout = "Layout/Dashboard/_LayoutForm";
    ViewBag.PageTitle = "Competition Rating";
    ViewBag.PageHeader = "Shot On Sight Competition Rating";
    ViewBag.FormHeader = "Competition Rating (Make sure to fill all compulsory fields *)";
}
@section Css{ 

}
@section Breadcrumbs
{
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li><a href="@Url.Action("Dashboard","Home")">Dashboard</a></li>
            <li><a href="@Url.Action("Index")">Competitions</a></li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
@using (Html.BeginForm("CompetitionImageRating", "Competition", FormMethod.Post, new {enctype = "multipart/form-data", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.ImageCompetitionRatingId)
    @Html.HiddenFor(m=>m.CompetitionUploadId)
    @Html.HiddenFor(m=>m.TimeDeliveryRating)
    @Html.HiddenFor(m=>m.TotalRating)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="row">
    <div class="form-body">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ConceptRating, new {@class = "control-label"})<span class="required">*</span>
            @Html.TextBoxFor(model => model.ConceptRating, new {@class = "form-control", placeholder = "Please enter the competition name", max = "20"})
            @Html.ValidationMessageFor(model => model.ConceptRating, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ClearityRating, new {@class = "control-label"})<span class="required">*</span>
            @Html.TextBoxFor(model => model.ClearityRating,new {@class = "form-control", placeholder = "Please enter the competition name", max = "10" })
            @Html.ValidationMessageFor(model => model.ClearityRating, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.QualityRating, new {@class = "control-label"})<span class="required">*</span>
            @Html.TextBoxFor(model => model.QualityRating, new {@class = "form-control", placeholder = "Please enter the competition description", max = "10" })
            @Html.ValidationMessageFor(model => model.QualityRating, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.DescriptionRating, new {@class = "control-label"})<span class="required">*</span>
            @Html.TextBoxFor(model => model.DescriptionRating, new {@class = "form-control", placeholder = "Please enter the competition description", max = "10" })
            @Html.ValidationMessageFor(model => model.DescriptionRating, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.TimeDeliveryRating, new {@class = "control-label"})<span class="required">*</span>
            @Html.TextBoxFor(model => model.TimeDeliveryRating, new {@class = "form-control", placeholder = "Please enter the time delivery rating",disabled = "disabled"})
            @Html.ValidationMessageFor(model => model.TimeDeliveryRating, "", new {@class = "text-danger"})
        </div>
    </div>
    </div>
    <div class="row">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="@Url.Action("Index","Competition")"  class="btn btn-default">Cancel</a>
    </div>
    </div>
}
@section Scripts{ 

}