@model Image.Models.Entities.Package
@{
    Layout = "Layout/Dashboard/_LayoutForm";
    ViewBag.PageTitle = "Edit Subscription";
    ViewBag.PageHeader = "Subscription Package";
    ViewBag.FormHeader = "Edit the Subscription Package (Make sure to fill all compulsory fields *)";
}

@using (Html.BeginForm("Edit", "Package", FormMethod.Post, new {enctype = "multipart/form-data", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.PackageId)
    @Html.HiddenFor(m=>m.DateCreated)
    @Html.HiddenFor(m=>m.CreatedBy)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    <div class="form-body">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })<span class="required">*</span>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Please enter the category name" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label" })<span class="required">*</span>
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Please enter the category name" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label>System Setting Permissions</label>
        <div class="">
            <label>
                @Html.LabelFor(model => model.Competition)
                @Html.CheckBoxFor(model => model.Competition)
            </label>
            <label>
                @Html.LabelFor(model => model.Contracts)
                @Html.CheckBoxFor(model => model.Contracts)
            </label>
            <label>
                @Html.LabelFor(model => model.ImagePriority)
                @Html.CheckBoxFor(model => model.ImagePriority)
            </label>
            <label>
                @Html.LabelFor(model => model.Contracts)
                @Html.CheckBoxFor(model => model.Contracts)
            </label>
            <label>
                @Html.LabelFor(model => model.Packaging)
                @Html.CheckBoxFor(model => model.Packaging)
            </label>
        </div>


    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="@Url.Action("Index")"  class="btn btn-default">Cancel</a>
    </div>
}