@using CamerackStudio.Models.Entities
@model List<CamerackStudio.Models.Entities.AppUser>
@{
    Layout = "Layout/Dashboard/_LayoutTable";
    ViewBag.PageTitle = "List of All Users";
    ViewBag.PageHeader = "Manage All Users";
 
}
@section Breadcrumbs
{
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li><a href="@Url.Action("Dashboard","Home")">Dashboard</a></li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
<table id="example-2" cellspacing="0" width="100%" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @if ( Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Mobile</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            @*<li>
                                 <a href="@Url.Action("Images", "Location", new {id = item.ImageId})" data-toggle="tooltip" title="View Images at this Location">
                                     <i class="icon-pencil"></i> View Image
                                 </a>
                             </li>*@
                        </ul>
                    </div>
                </td>
            </tr>
        }
    }

    </tbody>
</table>
@section Functions {
}