@using CamerackStudio.Models.Entities
@using CamerackStudio.Models.Enum
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    AppUser appUser = null;
    if (Context.Session.GetString("StudioLoggedInUser") != null)
    {
        var userString = Context.Session.GetString("StudioLoggedInUser");
        appUser = JsonConvert.DeserializeObject<AppUser>(userString);
    }

}

<aside data-mcs-theme="minimal-dark" class="main-sidebar mCustomScrollbar">
    <div class="user">
        <a href="@Url.Action("Profile", "Account")">
            <div id="esp-user-profile" data-percent="65" style="height: 110px; line-height: 80px; padding: 12px; width: 110px;" class="easy-pie-chart">
                @if (appUser != null)
                {
                    if (appUser.HasSocialMediaLogin)
                    {
                        <img src="@appUser.ProfilePicture" alt="" class="avatar img-circle img-responsive" style="width: 80px; height: 80px"><span class="status bg-success"></span>
                    }
                    else
                    {
                        <img src="~/UploadedImage/ProfilePicture/@appUser.ProfilePicture" alt="" class="avatar img-circle img-responsive" style="width: 80px; height: 80px"><span class="status bg-success"></span> 
                    }
                 
                }
            
            </div>
        </a>
        @if (appUser != null)
        {
            <h4 class="fs-14 text-muted mt-15 mb-5 fw-300">@appUser.Name</h4>
        }
     
    </div>
    <ul class="list-unstyled navigation mb-0">
        <li class="sidebar-header pt-0">Main Menu</li>
        <li>
            <a href="@Url.Action("Dashboard", "Home")" class="active bubble"><i class="ti-home"></i> Dashboard<span class="badge bg-success">Active</span></a>
        </li>
        @if (appUser != null && appUser.Role != null && appUser.Role.ManageApplicationUser)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse51" aria-expanded="false" aria-controls="collapse51" class="collapsed"><i class="ti-user"></i>User @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse51" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("AllUsers", "AppUser")">All Users </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Customers", "AppUser")">All Customers </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Photographers", "AppUser")">All Photographers </a>
                    </li>

                </ul>
            </li>
        }
        @if (appUser != null && appUser.Role != null && appUser.Role.ManageApplicationUser)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse511" aria-expanded="false" aria-controls="collapse511" class="collapsed"><i class="ti-book"></i>Content @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse511" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "SliderImage")">Slider Image</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Advertisement")">Advertisement </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "HeaderImage")">Header Image </a>
                    </li>
                    <li>
                        <a href="@Url.Action("GeneralNotice", "AppUser")">Send General Notice </a>
                    </li>
                    <li>
                        <a href="@Url.Action("PhotographersNotice", "AppUser")">Send Photographer Notice </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Newsletter", "AppUser")">Send Newsletter </a>
                    </li>
                </ul>
            </li>
        }
        @if (appUser != null && appUser.Role != null && appUser.Role.ManageApplicationUser)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse5111" aria-expanded="false" aria-controls="collapse5111" class="collapsed"><i class="ti-book"></i>Pages @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse5111" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Faq", "Page")">Faq</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Terms", "Page")">Terms & Conditions </a>
                    </li>
                    <li>
                        <a href="@Url.Action("PrivacyPolicy", "Page")">Privacy Policy </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AboutUs", "Page")">About Us </a>
                    </li>
                </ul>
            </li>
        }
        @if (appUser != null && appUser.Role != null && appUser.Role.ManageImages)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"><i class="ti-image"></i>Images @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse5" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Image")">Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Report", "Image")">Reported Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Accepted.ToString()})">Accepted Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Rejected.ToString()})">Rejected Images </a>
                    </li>
                </ul>
            </li>
        }
        @if (appUser != null && appUser.Role != null && appUser.Role.UploadImage)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse6" aria-expanded="false" aria-controls="collapse6" class="collapsed"><i class="ti-image"></i>Photo Manager @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse6" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Image")">All Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Accepted.ToString()})">Accepted Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Rejected.ToString()})">Rejected Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Camera")">Camera's</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Location")">Locations</a>
                    </li>
                </ul>
            </li>
        }
        @if (appUser != null && appUser.Role != null && appUser.Role.ManageImageCategory || appUser != null && appUser.Role != null && appUser.Role.ManagePhotographerCategory)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-files"></i> Category Management</a>
                <ul id="collapse3" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "ImageCategory")">Image Category</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "PhotographerCategory")">Photographer Category</a>
                    </li>
                </ul>
            </li>
        }

        @if (appUser != null && appUser.Role != null && appUser.Role.ManageOrders)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse7" aria-expanded="false" aria-controls="collapse7" class="collapsed"><i class="ti-shopping-cart"></i> My Store @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse7" class="list-unstyled collapse">
                <li>
                    <a href="@Url.Action("Index", "Order")">Orders </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Payment")">Payment </a>
                </li>
                </ul>
            </li>
        }
        @if (appUser != null && appUser.Role != null && appUser.Role.UploadImage)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse9" aria-expanded="false" aria-controls="collapse9" class="collapsed"><i class="ti-file"></i> My Categories @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse9" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("SelectCategories", "PhotographerCategory")">Categories </a>
                    </li>

                </ul>
            </li>
        }
    </ul>
</aside>