@using CamerackStudio.Models.Entities
@using CamerackStudio.Models.Enum
@using CamerackStudio.Models.Redis
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    AppUser appUser = null;
    if (new RedisDataAgent().GetStringValue("CamerackLoggedInUser") != null)
    {
        var userString = new RedisDataAgent().GetStringValue("CamerackLoggedInUser");
        appUser = JsonConvert.DeserializeObject<AppUser>(userString);
    }

}

<aside data-mcs-theme="minimal-dark" class="main-sidebar mCustomScrollbar">
    <div class="user">
        <a href="@Url.Action("Profile", "Account")">
            <div id="esp-user-profile" data-percent="65" style="height: 104px; line-height: 80px; padding: 12px; width: 104px;" class="easy-pie-chart">
                @if (appUser != null)
                {
                    if (appUser.HasSocialMediaLogin)
                    {
                        <img src="@appUser.ProfilePicture" alt="" class="avatar img-circle"><span class="status bg-success"></span>
                    }
                    else
                    {
                        <img src="~/UploadedImage/ProfilePicture/@appUser.ProfilePicture" alt="" class="avatar img-circle"><span class="status bg-success"></span> 
                    }
                 
                }
            
            </div>
        </a>
        @if (appUser != null)
        {
            <h4 class="fs-14 text-muted mt-15 mb-5 fw-300">@appUser.Name</h4>
        }
     
    </div>
    <ul class="list-unstyled navigation mb-0">
        <li class="sidebar-header pt-0">Main Menu</li>
        <li>
            <a href="@Url.Action("Dashboard", "Home")" class="active bubble"><i class="ti-home"></i> Dashboard<span class="badge bg-success">Active</span></a>
        </li>
        @if (appUser != null && appUser.Role != null && appUser.Role.ManageImages)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"><i class="ti-image"></i>Images @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse5" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Image")">Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Report", "Image")">Reported Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Accepted.ToString()})">Accepted Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Rejected.ToString()})">Rejected Images </a>
                    </li>
                </ul>
            </li>
        }
        @if (appUser != null && appUser.Role != null && appUser.Role.UploadImage)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse6" aria-expanded="false" aria-controls="collapse6" class="collapsed"><i class="ti-image"></i>Photo Manager @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse6" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Image")">All Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Accepted.ToString()})">Accepted Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Rejected.ToString()})">Rejected Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Camera")">Camera's</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Location")">Locations</a>
                    </li>
                </ul>
            </li>
        }
        @if (appUser != null && appUser.Role != null && appUser.Role.ManageImageCategory || appUser != null && appUser.Role != null && appUser.Role.ManagePhotographerCategory)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-files"></i> Category Management</a>
                <ul id="collapse3" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "ImageCategory")">Image Category</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "PhotographerCategory")">Photographer Category</a>
                    </li>
                </ul>
            </li>
        }

        @if (appUser != null && appUser.Role != null && appUser.Role.ManageCompetition)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapsed"><i class="ti-crown"></i> Competition Management</a>
                <ul id="collapse4" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Competition")">Competitions</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CompetitionUpload", "Competition")">Competition Uploads</a>
                    </li>
                </ul>
            </li>
        }
  

        @if (appUser != null && appUser.Role != null && appUser.Role.ManageOrders)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse7" aria-expanded="false" aria-controls="collapse7" class="collapsed"><i class="ti-shopping-cart"></i> My Store @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse7" class="list-unstyled collapse">
                <li>
                    <a href="@Url.Action("Index", "Order")">Orders </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Payment")">Payment </a>
                </li>
                </ul>
            </li>
        }
        @if (appUser != null && appUser.Role != null && appUser.Role.UploadImage)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse9" aria-expanded="false" aria-controls="collapse9" class="collapsed"><i class="ti-file"></i> My Categories @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse9" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("SelectCategories", "PhotographerCategory")">Categories </a>
                    </li>

                </ul>
            </li>
        }
        @if (appUser != null && appUser.Role != null && appUser.Role.ParticipateCompetition)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse10" aria-expanded="false" aria-controls="collapse10" class="collapsed"><i class="ti-crown"></i> My Competitions @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse10" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Competition")">Competitions </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Uploads", "Competition")">Competition Uploads</a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</aside>