@using CamerackStudio.Models
@using CamerackStudio.Models.APIFactory
@using CamerackStudio.Models.Enum
@using Microsoft.AspNetCore.Http
@{
    var signedInUserId = Convert.ToInt64(Context.Session.GetString("StudioLoggedInUserId"));
    var notifications = new AppUserFactory().GetAllPushNotifications(new AppConfig().UsersPushNotifications).Result.Where(n=>n.AppUserId == signedInUserId).ToList();
    var payments = new OrderFactory().GetAllPaymentsAsync(new AppConfig().FetchPaymentsUrl).Result.Where(n=>n.AppUserId == signedInUserId && n.Status == PaymentStatus.Paid.ToString()).ToList();
}
<header>
    <div class="search-bar closed">
    </div><a href="https://camerack.com/" class="brand pull-left">
        <h2>
            <img src="~/LandingPage/assets/img/icon-camerack-studio.png" alt="logo">
        </h2>
    </a><a href="javascript:;" role="button" class="hamburger-menu pull-left visible-xs">
        <span></span>
    </a>
        <ul class="notification-bar list-inline pull-right">
            <li class="visible-lg">
                <a href="javascript:;" role="button" class="header-icon fullscreen-toggle" style="font-size: 17px">
                    <strong>
                        Total Earnings : &#8358 @string.Format("{0:n0}", payments.Sum(n => n.Amount))
                    </strong>
                </a>
            </li>
            <li class="visible-lg">
                <a href="javascript:;" role="button" class="header-icon fullscreen-toggle">
                    <i class="ti-fullscreen"></i>
                </a>
            </li>
            <a id="dropdownMenu1" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle bubble header-icon">
                <i class="ti-world"></i><span class="badge bg-danger" id="number">@notifications.Count</span>
            </a>
            <div aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-right dm-medium fs-12 animated fadeInDown">
                @{
                    <li class="dropdown" id="numberOfNotifications">


                        @Html.Partial("Partials/_NotificationPartial", notifications)


                    </li>
                }
            </div>
            @*<li>
                <a href="@Url.Action("LogOut", "Account")" role="button" class="header-icon">
                    <i class="ti-power-off"></i>
                </a>
            </li>*@
        
        </ul>
</header>
<script>
    $(document)
        .ready(function() {

            $(function() {
                setTimeout(function () {
                        $('#numberOfNotifications')
                            .load('@Url.Action("RealoadNavigation", "Home")');

                    },
                    20000);
            });
                $(function() {
                    setTimeout(function (data) {
                            $('#number')
                            .load('@Url.Action("RealoadNavigationAndCount", "Home")');
                            $('#number').val(data);

                        },
                        20000);
            });
        });
</script>