@using CamerackStudio.Models
@using CamerackStudio.Models.APIFactory
@using CamerackStudio.Models.Entities
@using CamerackStudio.Models.Enum
@using CamerackStudio.Models.Services
@model List<PushNotification>
@{
    var users = new AppUserFactory().GetAllUsers(new AppConfig().FetchUsersUrl).Result;
}


<h5 class="dropdown-header">You have <span class="number">@(Model.Where(n => n.Read == false).ToList().Count) </span>unread notifications</h5>
<br/>
    <ul data-mcs-theme="minimal-dark" class="media-list mCustomScrollbar">
        @foreach (var item in Model.OrderBy(n=>n.DateCreated).Take(10))
        {
            var user = users.SingleOrDefault(n => n.AppUserId == item.CreatedBy);
            <li class="media">
                @if (item.Category == SystemNotificationCategory.Rating.ToString())
                {
                    <a href="@Url.Action("SingleImage","Account",new{id = item.ControllerId,notificationId = item.PushNotificationId})">
                        <div class="media-left avatar">
                            @if (user != null)
                            {
                                <img src="@user.ProfilePicture" alt="" class="media-object img-circle">
                            }
                            @if (item.Read == true)
                            {
                                <span class="status bg-default"></span> 
                            }
                            @if (item.Read == false)
                            {
                                <span class="status bg-success"></span>
                            }
                          
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                @if (user != null)
                                {
                                    @user.Name
                                }</h6>
                            <p class="text-muted mb-0">rated your post</p>
                        </div>
                        <div class="media-right text-nowrap">
                            <time datetime="2015-12-10T20:27:48+07:00" class="fs-11">@(new DateTimeCalculator().TimeAgo(item.DateCreated))</time>
                        </div>
                    </a>
                }
                @if (item.Category == SystemNotificationCategory.Comment.ToString())
                {
                    <a href="@Url.Action("SingleImage","Account",new{id = item.ControllerId,notificationId = item.PushNotificationId})">
                        <div class="media-left avatar">
                            @if (user != null)
                            {
                                <img src="@user.ProfilePicture" alt="" class="media-object img-circle">
                            }
                            @if (item.Read == true)
                            {
                                <span class="status bg-default"></span> 
                            }
                            @if (item.Read == false)
                            {
                                <span class="status bg-success"></span>
                            }
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                @if (user != null)
                                {
                                    @user.Name
                                }</h6>
                            <p class="text-muted mb-0">commented on your post</p>
                        </div>
                        <div class="media-right text-nowrap">
                            <time datetime="2015-12-10T20:27:48+07:00" class="fs-11">@(new DateTimeCalculator().TimeAgo(item.DateCreated))</time>
                        </div>
                    </a>
                }
                @if (item.Category == SystemNotificationCategory.Order.ToString())
                {
                    <a href="@Url.Action("Index","Order",new{notificationId = item.PushNotificationId})">
                        <div class="media-left avatar">
                            @if (user != null)
                            {
                                <img src="@user.ProfilePicture" alt="" class="media-object img-circle">
                            }
                            @if (item.Read == true)
                            {
                                <span class="status bg-default"></span> 
                            }
                            @if (item.Read == false)
                            {
                                <span class="status bg-success"></span>
                            }
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                @if (user != null)
                                {
                                    @user.Name
                                }</h6>
                            <p class="text-muted mb-0">Has just Placed an order for your image</p>
                        </div>
                        <div class="media-right text-nowrap">
                            <time datetime="2015-12-10T20:27:48+07:00" class="fs-11">@(new DateTimeCalculator().TimeAgo(item.DateCreated))</time>
                        </div>
                    </a>
                }
                @if (item.Category == SystemNotificationCategory.Payment.ToString())
                {
                    <a href="@Url.Action("Index","Payment",new{notificationId = item.PushNotificationId})">
                        <div class="media-body">
                            <h6 class="media-heading">
                                Camerack
                            </h6>
                            <p class="text-muted mb-0">has just credited your bank Account</p>
                        </div>
                        <div class="media-right text-nowrap">
                            <time datetime="2015-12-10T20:27:48+07:00" class="fs-11">@(new DateTimeCalculator().TimeAgo(item.DateCreated))</time>
                        </div>
                    </a>
                }
            </li>
        }

    </ul>
    <div class="dropdown-footer text-center p-10">
        <a href="@Url.Action("Notification", "Account")" class="fw-500 text-muted">See all notifications</a>
    </div>

<!-- jQuery-->
<script type="text/javascript" src="~/Dashboard/plugins/jquery/dist/jquery.min.js"></script>