@using CamerackStudio.Models.Entities
@model AppTransport
@{
}
@foreach (var items in Model.ImageComments.Where(n=>n.ImageId == Model.Image.ImageId))
{
    var singleOrDefault = Model.AppUsers.SingleOrDefault(n => n.AppUserId == items.AppUserId);
    <li class="media">
        <div class="media-left avatar">
            @if (singleOrDefault != null && singleOrDefault.HasSocialMediaLogin)
    {
        <img alt="" src="@singleOrDefault.ProfilePicture"
             class="media-object img-circle"><span class="status bg-success"></span>
}
            @if (singleOrDefault != null && !singleOrDefault.HasSocialMediaLogin)
    {
        <img alt="" src="~/UploadedImage/ProfilePicture/@singleOrDefault.ProfilePicture"
             class="media-object img-circle"><span class="status bg-success"></span>
}
        </div>
        <div class="media-body">
        @if (singleOrDefault != null)
        {
            <h5 class="media-heading inline-block">@singleOrDefault.Name</h5>
        }
            <time datetime="2015-12-10T20:50:48+07:00" class="text-muted fs-12">
                @items.DateCreated.ToString("D") <i class="ti-time"></i> @items.DateCreated.ToString("h:mm:ss tt")</time>
            <p>@items.Comment</p>
            @if (Model.AppUser != null && items.AppUserId == Model.AppUser.AppUserId)
            {
                <form asp-controller="Image" asp-action="DeleteComment" data-ajax="true" data-ajax-method="POST" data-ajax-update="#content-@items.ImageId" data-ajax-complete="onFormComplete">
                    <input type="hidden" value="@items.ImageCommentId" name="CommentId"/>
                    <input type="hidden" value="@items.ImageId" name="ImageId"/>
                    <button type="submit" class="btn btn-primary btn-sm pull-right" style="color: red; background: white">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>

                </form>
            }
     
        </div>
     
    </li>
}
