@using CamerackStudio.Models.Entities
@using CamerackStudio.Models.Enum
@using Microsoft.AspNetCore.Http
@model List<CamerackStudio.Models.Entities.Image>
@{
    var signedInUserId = Context.Session.GetInt32("StudioLoggedInUserId");
    Role role = ViewBag.Role;
    string status = ViewBag.status;
    Layout = "Layout/Dashboard/_LayoutTable";
    ViewBag.PageTitle = "List of Images";
    ViewBag.PageHeader = "Manage Image";
}
@section Breadcrumbs
    {
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li><a href="@Url.Action("Dashboard","Home")">Dashboard</a></li>
            <li><a href="@Url.Action("Index")">Photographer Categories</a></li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Image</h4>
            </div>@using (Html.BeginForm("Delete", "Image"))
            {
                <input type="hidden" id="id" name="ImageId" />
                    <div class="modal-body">

                        @Html.AntiForgeryToken()
                        <p>
                            Are you sure you want to delete the Image?
                        </p>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash" />
                        <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left" />
                    </div>
            }
        </div>
    </div>
</div>
@if (role.UploadImage)
{
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                <a href="@Url.Action("Create", "Image")" class="btn btn-primary" data-toggle="tooltip" title="Upload Image">
                    Add New
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
}
<br />
<table id="example-2" cellspacing="0" width="100%" class="table table-striped table-bordered">
    <thead>
        <tr>
            @if (status != null && status != ImageStatus.Rejected.ToString())
            {
                <th>Image</th>
            }

            <th>Date Added</th>
            <th>Title</th>
            <th>Camera</th>
            <th>Location</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var pic = "https://res.cloudinary.com/" + item.FilePath;
            <tr>
                @if (status != null && status != ImageStatus.Rejected.ToString())
                {
                    <td>
                        <img src='@pic'
                             width="100" alt="" class="img-thumbnail img-responsive"/>
                    </td>
                }
                <td>@item.DateCreated.ToString("D")</td>
                <td>@item.Title</td>
                <td>@item.Camera.Name</td>
                <td>@item.Location.Name</td>
                <td>@item.SellingPrice</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="@pic" data-toggle="tooltip" title="View the Image" target="_blank">
                                    <i class="icon-pencil"></i> View Image
                                </a>
                            </li>
                            @if (item.CreatedBy == signedInUserId)
                            {
                                <li>
                                    <a href="@Url.Action("Edit", "Image", new {id = item.ImageId})" data-toggle="tooltip" title="Edit the Image">
                                        <i class="icon-pencil"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" title="Delete the Image" data-id="@item.ImageCategoryId" data-toggle="modal" class="loadModal3">
                                        <i class="icon-trash"></i> Delete
                                    </a>
                                </li>
                            }
                            @if (role.ManageImages && item.Status == ImageStatus.Pending.ToString())
                            {
                                <li>
                                    <a href="@Url.Action("ApproveOrRejectImage", "Image", new {id = item.ImageId, status = ImageStatus.Accepted.ToString()})" data-toggle="tooltip" title="Edit the Image">
                                        <i class="icon-pencil"></i> Accept Image
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ApproveOrRejectImage", "Image", new {id = item.ImageId, status = ImageStatus.Rejected.ToString()})" data-toggle="tooltip" title="Edit the Image">
                                        <i class="icon-pencil"></i> Reject Image
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Functions {
    <script>
        $(document).ready(function() {
            $(".loadModal3").click(function() { // Click to only happen on announce links
                $("#id").val($(this).data('id'));
                $('#myModal1').modal('show');
            });
        });
    </script>
}