@model Image.Models.Entities.AccountModel
@{
    Layout = "Layout/Dashboard/_LayoutAccount";
    ViewBag.PageTitle = "Photo Studio | Login";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-xs-12">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Username / Email" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="checkbox-inline checkbox-custom pull-left">
                <input id="exampleCheckboxRemember" type="checkbox" value="remember">
                <label for="exampleCheckboxRemember" class="checkbox-muted text-muted">Remember me</label>
            </div>
            <div class="pull-right"><a href="forgot.html" class="inline-block form-control-static">Forgot a Passowrd?</a></div>
        </div>
    </div>
    <button type="submit" class="btn-lg btn btn-primary btn-rounded btn-block">Sign in</button>
}
<hr>
<p class="text-muted">Sign in with your Facebook or Twitter accounts</p>
<div class="clearfix">
    <div class="pull-left">
        <button type="button" style="width: 130px" class="btn btn-outline btn-rounded btn-primary"><i class="ti-facebook mr-5"></i> Facebook</button>
    </div>
    <div class="pull-right">
        <button type="button" style="width: 130px" class="btn btn-outline btn-rounded btn-info"><i class="ti-twitter-alt mr-5"></i> Twitter</button>
    </div>
</div>
<hr>
<div class="clearfix">
    <p class="text-muted mb-0 pull-left">Want new account?</p><a href="@Url.Action("Register")" class="inline-block pull-right">Sign Up</a>
</div>