
@model Image.Models.Entities.ApiUrl
@{
    Layout = "Layout/Dashboard/_LayoutForm";
    ViewBag.PageTitle = "Manage API URL's";
    ViewBag.PageHeader = "Manage Application API URL's";
    ViewBag.FormHeader = "Manage API URL's (Make sure to fill all compulsory fields *)";
}
@section Css{ 
}
@section Breadcrumbs
{
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li><a href="@Url.Action("Dashboard","Home")">Dashboard</a></li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
@using (Html.BeginForm("ManageApiUrl", "Account", FormMethod.Post, new {enctype = "multipart/form-data", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.ApiUrlId)
    @Html.HiddenFor(m=>m.DateCreated)
    @Html.HiddenFor(m=>m.CreatedBy)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})


    <div class="form-body">
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.RegisterUsersUrl, new { @class = "control-label" })<span class="required">*</span>
                @Html.EditorFor(model => model.RegisterUsersUrl, new { htmlAttributes = new { @class = "form-control", placeholder = "Please enter url" } })
                @Html.ValidationMessageFor(model => model.RegisterUsersUrl, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.FetchUsersUrl, new { @class = "control-label" })<span class="required">*</span>
                @Html.EditorFor(model => model.FetchUsersUrl, new { htmlAttributes = new { @class = "form-control", placeholder = "Please enter url" } })
                @Html.ValidationMessageFor(model => model.FetchUsersUrl, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.EditProfileUrl, new { @class = "control-label" })<span class="required">*</span>
                @Html.EditorFor(model => model.EditProfileUrl, new { htmlAttributes = new { @class = "form-control", placeholder = "Please enter url", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.EditProfileUrl, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ForgotPasswordLinkUrl, new { @class = "control-label" })<span class="required">*</span>
                @Html.EditorFor(model => model.ForgotPasswordLinkUrl, new { htmlAttributes = new { @class = "form-control", placeholder = "Please enter url" } })
                @Html.ValidationMessageFor(model => model.ForgotPasswordLinkUrl, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ResetPasswordUrl, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.ResetPasswordUrl, new { @class = "form-control", placeholder = "Please enter url" })
                @Html.ValidationMessageFor(model => model.ResetPasswordUrl, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ChangePasswordrl, new { @class = "control-label" })
                @Html.EditorFor(model => model.ChangePasswordrl, new { htmlAttributes = new { @class = "form-control", placeholder = "Please enter url" } })
                @Html.ValidationMessageFor(model => model.ChangePasswordrl, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.TenancyId, new { @class = "control-label" })
                @Html.EditorFor(model => model.TenancyId, new { htmlAttributes = new { @class = "form-control", placeholder = "Please enter url" } })
                @Html.ValidationMessageFor(model => model.TenancyId, "", new { @class = "text-danger" })
            </div>
        </div>
 
    <div class="row">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="@Url.Action("Dashboard","Home")"  class="btn btn-default">Cancel</a>
        </div>
    </div>
    </div>
}
@section Scripts{ 
}
@section Functions
{
 
}
