@model CamerackStudio.Models.Entities.Image
@{
    Layout = "Layout/Dashboard/_LayoutForm";
    ViewBag.PageTitle = "Image Upload";
    ViewBag.PageHeader = "Image Upload";
    ViewBag.FormHeader = "Edit Image Upload (Make sure to fill all compulsory fields *)";
}
@section css{

    <!-- Bootstrap Markdown-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
}
@section Breadcrumbs
{
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li><a href="@Url.Action("Dashboard","Home")">Dashboard</a></li>
            <li><a href="@Url.Action("Index")">Images</a></li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
<div class="widget-body">
    @using (Html.BeginForm("Edit", "Image", FormMethod.Post, new {enctype = "multipart/form-data", role = "form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(m=>m.ImageId)
        @Html.HiddenFor(m=>m.AppUserId)
        @Html.HiddenFor(m=>m.CreatedBy)
        @Html.HiddenFor(m=>m.DateCreated)
        @Html.HiddenFor(m=>m.FilePath)
        @Html.HiddenFor(m=>m.FileName)
        @Html.HiddenFor(m=>m.Featured)
        @Html.HiddenFor(m=>m.A1)
        @Html.HiddenFor(m=>m.A2)
        @Html.HiddenFor(m=>m.A3)
        @Html.HiddenFor(m=>m.A4)
        @Html.HiddenFor(m=>m.A5)
        @Html.HiddenFor(m=>m.A6)
        @Html.HiddenFor(m=>m.Status)
        @Html.HiddenFor(m=>m.ImageCategoryId)
        @Html.HiddenFor(m=>m.ImageSubCategoryId)
        @Html.HiddenFor(m=>m.Width)
        @Html.HiddenFor(m=>m.Height)
        @Html.HiddenFor(m=>m.CameraId)
        @Html.HiddenFor(m=>m.LocationId)
        <div class="form-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Title, new {@class = "control-label"})<span class="required">*</span>
                    @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the category name"}})
                    @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Theme, new {@class = "control-label"})<span class="required">*</span>
                    @Html.EditorFor(model => model.Theme, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the category name"}})
                    @Html.ValidationMessageFor(model => model.Theme, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.ImageCategoryId, new {@class = "control-label"})<span class="required">*</span>
                    @Html.DropDownListFor(model => model.ImageCategoryId, null, "Select an Image Category/Genre", new {@class = "form-control", placeholder = "", id = "category"})
                    @Html.ValidationMessageFor(model => model.ImageCategoryId, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.ImageSubCategoryId, new {@class = "control-label"})<span class="required">*</span>
                    @Html.DropDownListFor(m => m.ImageSubCategoryId, new SelectList(string.Empty, "Value", "Text"), "--Please select a Sub-Category/ Sub-Genre--", new {@class = "form-control", id = "sub"})
                    @Html.ValidationMessageFor(model => model.ImageSubCategoryId, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Inspiration, new {@class = "control-label"})
                    @Html.EditorFor(model => model.Inspiration, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the your inspiration for taking the image"}})
                    @Html.ValidationMessageFor(model => model.Inspiration, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.LocationId, new {@class = "control-label"}) <a data-toggle="tooltip" title="Add a new Location" class="loadModal4" style="font-weight: bolder">Add New</a>
                    @Html.DropDownListFor(model => model.LocationId, null, "Select an Image Location", new {@class = "form-control", placeholder = ""})

                </div>
                <div class="form-group col-md-12" style="display: none" id="NewLocation">
                    <label class="control-label">Add Location</label>
                    <input type="text" name="NewLocationText" class="form-control" required="required"/>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.CameraId, new {@class = "control-label"}) <a data-toggle="tooltip" title="Add a new Camera" class="loadModal3" style="font-weight: bolder">Add New</a>
                    @Html.DropDownListFor(model => model.CameraId, null, "Select the Camera Used", new { @class = "form-control", placeholder = "" })
                </div>
                <div class="form-group col-md-12" style="display: none" id="NewCamera">
                    <label class="control-label">Add Camera:</label>
                    <input type="text" name="NewCameraText" class="form-control" required="required"/>
                </div>
                @if (Model.SellingPrice > 0)
                {
                    <div class="form-group col-md-6">
                        <label for="state">Pricing Category</label><span class="required">*</span>
                        <select name="state" class="form-control" id="state">
                            <option value="Free">Free</option>
                            <option value="NotFree" selected="selected">Set Price</option>
                        </select>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-6">
                        <label for="state">Pricing Category</label><span class="required">*</span>
                        <select name="state" class="form-control" id="state">
                            <option value="Free" selected="selected">Free</option>
                            <option value="NotFree">Set Price</option>
                        </select>
                    </div> 
                }<div class="form-group col-md-6" id="priceDiv">
                    @Html.LabelFor(model => model.SellingPrice, new {@class = "control-label"})<span style="font-weight: bolder" class="required">(N500 - N100,000)*</span>
                    @Html.EditorFor(model => model.SellingPrice, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the selling price for the image", min="500" ,max="100000",id="price"}})
                    @Html.ValidationMessageFor(model => model.SellingPrice, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-6" id="discountDiv">
                    @Html.LabelFor(model => model.Discount, new {@class = "control-label"})<span style="font-weight: bolder" class="required"> (0% - 100%)</span>
                    @Html.EditorFor(model => model.Discount, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the discount % for the image",min="0",max="100",id="discount"}})
                    @Html.ValidationMessageFor(model => model.Discount, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label" })<span class="required">*</span>
                    <textarea name="Description" id="description" data-provide="markdown" rows="10" required="required"></textarea>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-upload"></i>
                Submit
            </button>
            <a href="@Url.Action("Index", "Image")" class="btn btn-default">Cancel</a>
        </div>
    }
</div >


@section Scripts
{
    <!-- Bootstrap Markdown-->
    <script type="text/javascript" src="~/Dashboard/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>

}
@section Functions {
    <script>
        $(document)
            .ready(function () {
                //set all checkboxes to their values
                $('#description').val('@Model.Description');

                //disable price and discount if the set price option not selected
                var $state = $('#state'),
                    $price = $('#price');
                $discount = $('#discount');
                $price.val(0);
                $discount.val(0);
                $state.change(function() {
                    if ($state.val() == 'NotFree') {
                        $price.removeAttr('disabled');
                        $discount.removeAttr('disabled');
                        $('#priceDiv').fadeIn(100);
                        $('#discountDiv').fadeIn(100);
                        $price.val(500);
                        $discount.val(0);
                    } if ($state.val() == 'Free') {
                        $price.attr('disabled', 'disabled').val('');
                        $discount.attr('disabled', 'disabled').val('');
                        $price.val(0);
                        $discount.val(0);
                        $('#priceDiv').fadeOut(100);
                        $('#discountDiv').fadeOut(100);
                    }
                }).trigger('change'); // added trigger to calculate initial state

           

                //checks if the state has a value before displaying assigned category
                if ($('#category').val() != '') {
                    getSubCategories();
                }

                //loads assigned lga for state on change/select
                $('#category').on('change', function() { getSubCategories(); });

                //Ajax call for SUB assigned to state
                function getSubCategories() {

                    $("#sub").empty();
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetSubForCategories", "Image")',
                        dataType: 'json',
                        data: { id: $("#category").val() },
                        success: function(sub) {

                            $.each(sub,
                                function(i, sub) {
                                    console.log(sub);
                                    $("#sub").append('<option value="' +
                                        sub.imageSubCategoryId +
                                        '">' +
                                        sub.name +
                                        '</option>');
                                });
                        },
                        error: function(ex) {
                            alert('Failed to retrieve Sub-Categories.' + ex);
                        }
                    });
                }

                //Ajax ends
            });
    </script>

        <script>
            $(document).ready(function() {
                $(".loadModal4").click(function () { // Click to only happen on announce links
                    $('#NewLocation').fadeIn(1000);
                });
            });
    </script>
    <script>
        $(document).ready(function() {
            $(".loadModal3").click(function () { // Click to only happen on announce links
                $('#NewCamera').fadeIn(1000);
            });
        });
    </script>
    <script>

    </script>
    <script>
        $('#form').submit(function () {
            if($(this).valid()) {
                $('#hideBody').fadeOut(100);
                $('#loader').fadeIn(100);
            }
        });
    </script>

}