@model CamerackStudio.Models.Entities.Image
@{
    Layout = "Layout/Dashboard/_LayoutForm";
    ViewBag.PageTitle = "Reject Image";
}
@section css{

    <!-- Bootstrap Markdown-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link href="~/Dashboard/assets/selectize/dist/css/selectize.css" rel="stylesheet"/>
    <style>
        .fileinput-upload-button { visibility: hidden }

        .page-header { padding: 0px; }

        .selectize-input {
            border: 0px solid #d0d0d0;
            font-weight: bolder;
            padding: 0px 0px;
            width: 100%;
        }
    </style>
}
@section Breadcrumbs
{
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li>
                <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">Images</a>
            </li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
<div class="widget-body">
    @using (Html.BeginForm("RejectImage", "Image", FormMethod.Post, new {@class = "form-horizontal", enctype = "multipart/form-data", role = "form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.Hidden("ImageId", Model.ImageId)
        <div class="form-body">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new {@class = "control-label"})<span class="required">*</span>
                    <textarea name="Reason" data-provide="markdown" rows="10" required="required"></textarea>
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-upload"></i>
                    Submit
                </button>
                <a href="@Url.Action("Index", "Image")" class="btn btn-default">Cancel</a>
            </div>
        </div>
    }
    @section Scripts
    {
        <!-- Bootstrap Markdown-->
        <script type="text/javascript" src="~/Dashboard/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
        <script src="~/Dashboard/assets/selectize/dist/js/standalone/selectize.min.js"></script>

    }
    @section Functions {

    }
</div>