@model CamerackStudio.Models.Entities.Advertisement
@{
    Layout = "Layout/Dashboard/_LayoutForm";
    ViewBag.PageTitle = "Create Advertisement";
    ViewBag.PageHeader = "Advertisement";
    ViewBag.FormHeader = "Schedule an Advertisement (Make sure to fill all compulsory fields *)";
}
@section Breadcrumbs
{
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li>
                <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">Advertisements</a>
            </li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}

@section css{
    <!-- Bootstrap DateTimePicker-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <!-- Bootstrap Markdown-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <style>
        .fileinput-upload-button { visibility: hidden }

        .page-header { padding: 0px; }

        .selectize-input {
            border: 0px solid #d0d0d0;
            font-weight: bolder;
            padding: 0px 0px;
            width: 100%;
        }
    </style>
}
@using (Html.BeginForm("Create", "Advertisement", FormMethod.Post, new {enctype = "multipart/form-data", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    <div class="form-body">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Name, new {@class = "control-label"})<span class="required">*</span>
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the ad name"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Client, new {@class = "control-label"})<span class="required">*</span>
            @Html.EditorFor(model => model.Client, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the client name"}})
            @Html.ValidationMessageFor(model => model.Client, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ClientEmail, new {@class = "control-label"})<span class="required">*</span>
            @Html.EditorFor(model => model.ClientEmail, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the client email"}})
            @Html.ValidationMessageFor(model => model.ClientEmail, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ClientPhoneNumber, new {@class = "control-label"})<span class="required">*</span>
            @Html.EditorFor(model => model.ClientPhoneNumber, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the client phone number"}})
            @Html.ValidationMessageFor(model => model.ClientPhoneNumber, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Website, new {@class = "control-label"})
            @Html.EditorFor(model => model.Website, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the client website"}})
            @Html.ValidationMessageFor(model => model.Website, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.PageCategory, new {@class = "control-label"})<span class="required">*</span>
            @Html.DropDownListFor(model => model.PageCategory, null, new {htmlAttributes = new {@class = "form-control", placeholder = ""}})
            @Html.ValidationMessageFor(model => model.PageCategory, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.StartDate, new {@class = "control-label"})<span class="required">*</span>
            @Html.TextBoxFor(model => model.StartDate, new {@class = "form-control", id = "no-icon-dtpicker1", placeholder = "Please select the competition start date"})
            @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.EndDate, new {@class = "control-label"})<span class="required">*</span>
            @Html.TextBoxFor(model => model.EndDate, new {@class = "form-control", id = "no-icon-dtpicker2", placeholder = "Please select the competition end date"})
            @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
            <br/>
            <br/>

            <label class="col-sm-2 control-label">Image Upload</label>
            <div class="col-sm-10">

                <input id="input-5" name="image" required="required" type="file" multiple="" class="file-loading">
                <p class="help-block">
                    Note that uploading large image sizes might take some more time to upload to the server at such please be patient, but a quick fix is to have a speedy internet connection.
                </p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="@Url.Action("Index", "Slider")" class="btn btn-default">Cancel</a>
    </div>
}
@section Scripts{
    <!-- MomentJS-->
    <script type="text/javascript" src="~/Dashboard/plugins/moment/min/moment.min.js"></script>
    <!-- Moment With Locales-->
    <script type="text/javascript" src="~/Dashboard/plugins/moment/locale/fr.js"></script>
    <script type="text/javascript" src="~/Dashboard/plugins/moment/locale/ru.js"></script>
    <script type="text/javascript" src="~/Dashboard/plugins/moment/locale/ja.js"></script>
    <script type="text/javascript" src="~/Dashboard/plugins/moment/locale/vi.js"></script>
    <!-- Bootstrap DateTimePicker-->
    <script type="text/javascript" src="~/Dashboard/plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Custom JS-->
    <script type="text/javascript" src="~/Dashboard/build/js/second-layout/app.js"></script>
    <script type="text/javascript" src="~/Dashboard/build/js/second-layout/demo.js"></script>
    <script type="text/javascript" src="~/Dashboard/build/js/page-content/pickers/datetime-picker.js"></script>
}
@section Functions
{
    <script>
        $(document).ready(function() {
            $("#no-icon-dtpicker1")
                .datetimepicker({ locale: "en-gb", minDate: new Date(), format: "DD/MM/YYYY HH:mm" });
            $("#no-icon-dtpicker2").datetimepicker({
                locale: "en-gb",
                format: "DD/MM/YYYY HH:mm"
            });

            $('#no-icon-dtpicker1')
                .datetimepicker({ locale: "en-gb", minDate: new Date(), format: "DD/MM/YYYY HH:mm" });
            $('#no-icon-dtpicker2').datetimepicker({
                useCurrent: false,
                locale: "en-gb",
                format: "DD/MM/YYYY HH:mm"
            });
            $("#no-icon-dtpicker1").on("dp.change",
                function(e) {
                    $('#no-icon-dtpicker2').data("DateTimePicker").minDate(e.date);
                });
            $("#no-icon-dtpicker2").on("dp.change",
                function(e) {
                    $('#no-icon-dtpicker1').data("DateTimePicker").maxDate(e.date);
                });
        });
    </script>
}