@model CamerackStudio.Models.Entities.AccountModel
@{
    Layout = "Layout/Dashboard/_LayoutForm";
    ViewBag.PageTitle = "Change Password";
    ViewBag.PageHeader = "Change Account Password";
    ViewBag.FormHeader = "Change Pasword (Make sure to fill all compulsory fields * and pay attention to the password rules)";
}
@section Css{ 
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <!-- Bootstrap DateTimePicker-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
}
@section Breadcrumbs
{
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li><a href="@Url.Action("Dashboard","Home")">Dashboard</a></li>
            <li><a href="@Url.Action("Profile")">Profile</a></li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {enctype = "multipart/form-data", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})


    <div class="form-body">
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Password, new { @class = "control-label" })<span class="required">*</span>
                @Html.TextBoxFor(model => model.Password,new { @class = "form-control", placeholder = "Please enter a new password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })<span class="required">*</span>
                @Html.TextBoxFor(model => model.ConfirmPassword,  new { @class = "form-control", placeholder = "Please confirm the password"  })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
 
    <div class="row">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="@Url.Action("Profile","Account")"  class="btn btn-default">Cancel</a>
        </div>
    </div>
    </div>
}
@section Scripts{ 
    <!-- Bootstrap Markdown-->
    <script type="text/javascript" src="~/Dashboard/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <!-- MomentJS-->
    <script type="text/javascript" src="~/Dashboard/plugins/moment/min/moment.min.js"></script>
    <!-- Moment With Locales-->
    <script type="text/javascript" src="~/Dashboard/plugins/moment/locale/fr.js"></script>
    <script type="text/javascript" src="~/Dashboard/plugins/moment/locale/ru.js"></script>
    <script type="text/javascript" src="~/Dashboard/plugins/moment/locale/ja.js"></script>
    <script type="text/javascript" src="~/Dashboard/plugins/moment/locale/vi.js"></script>
    <!-- Bootstrap DateTimePicker-->
    <script type="text/javascript" src="~/Dashboard/plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Custom JS-->
    <script type="text/javascript" src="~/Dashboard/build/js/second-layout/app.js"></script>
    <script type="text/javascript" src="~/Dashboard/build/js/second-layout/demo.js"></script>
    <script type="text/javascript" src="~/Dashboard/build/js/page-content/pickers/datetime-picker.js"></script>
}
@section Functions
{
    <script>
        $(document).ready(function() {
            $("#no-icon-dtpicker1")
                .datetimepicker({
                    locale: "en-gb",
                    maxDate: new Date(),
                    format: "DD/MM/YYYY HH:mm"
                });
        });
    </script>
}
