@model CamerackStudio.Models.Entities.AccountModel
@{
    Layout = "Layout/Dashboard/_LayoutAccount";
    ViewBag.PageTitle = "Photo Studio | Forgot Password";
}

@using (Html.BeginForm("ForgotPasswordLink", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-xs-12">
            @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username / Email" } })
            @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
        </div>
    </div>
    <button type="submit" class="btn-lg btn btn-primary btn-rounded btn-block">Send Link</button>
}
<hr>
<div class="clearfix">
    <p class="text-muted mb-0 pull-left">Want new account?</p><a href="@Url.Action("Register")" class="inline-block pull-right">Sign Up</a>
</div>