@using CamerackStudio.Models
@using CamerackStudio.Models.Entities
@using Microsoft.AspNetCore.Http
@model AppTransport
@{
    Layout = "Layout/Dashboard/_LayoutDashboard";
    ViewBag.PageTitle = "Profile";
    ViewBag.PageHeader = "Profile Information";
    var signedInUserId = Convert.ToInt64(Context.Session.GetString("StudioLoggedInUserId"));
    var singleOrDefault = Model.AppUsers.SingleOrDefault(n => n.AppUserId == Model.Image.AppUserId);
    var singleRating = Model.ImageActions.SingleOrDefault(n => n.AppUserId == signedInUserId && n.ImageId == Model.Image.ImageId);
    var pic = "https://res.cloudinary.com/" + Model.Image.FilePath;
}
@section Css
{
    <link href="~/Rating/css/star-rating.css" rel="stylesheet"/>
}
@section Breadcrumbs
{
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li>
                <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
            </li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
<div class="row ml-10 mr-10 pt-10">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">

        <div class="widget clear">
            <div class="widget-heading">
                <div class="media">
                    <div class="media-left">
                        @if (singleOrDefault != null && singleOrDefault.HasSocialMediaLogin)
                        {
                            <img src="@singleOrDefault.ProfilePicture" alt="" class="media-object mo-lg img-circle">
                        }
                        @if (singleOrDefault != null && !singleOrDefault.HasSocialMediaLogin)
                        {
                            var image = "https://res.cloudinary.com/" + singleOrDefault.ProfilePicture.Replace("upload/", new AppConfig().GeneralImage);
                            <img src="@image" alt="" class="media-object mo-lg img-circle">
                        }
                   
                    </div>
                    <div class="media-body media-middle">
                        <p class="mb-0">
                            <span class="fw-500">
                                @if (singleOrDefault != null)
                                {
                                    @singleOrDefault.Username
                                }</span> uploaded a new image
                        </p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="text-muted fs-12">
                            @Model.Image.DateCreated.ToString("D") <i class="ti-time"></i>@Model.Image.DateCreated.ToString("h:mm:ss tt")
                        </time>
                    </div>
                </div>
            </div>
            <div class="widget-body">
                <p>
                    @Model.Image.Description
                </p>
                <div class="thumbnail">
                    <a href="#">
                        <img src="@pic" alt="">
                        <div class="text-left caption">
                            @{
                                Html.RenderPartial("Partials/_PartialRating", Model);
                            }
                        </div>
                        <div class="text-right caption">
                            <ul class="list-inline mb-0">
                                @if (singleRating != null)
                                {
                                    <span id="showRatings" class="skill-instock"><i class="fa fa-star"></i>Already Rated</span>
                                }
                                else
                                {
                                    if (Model.AppUser != null)
                                    {
                                        <form asp-controller="Image" asp-action="RateImage" data-ajax-begin="onBegin"
                                              data-ajax="true" data-ajax-method="POST" data-ajax-update="#" id="hideRating">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                            @Html.Hidden("ImageId", Model.Image.ImageId)
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                            <input id="input-21d" name="rating" type="text" class="rating" data-min=0 data-max=5 data-step=1 data-size="sm">
                                            <input type="submit" class="btn btn-primary" value="Rate" id="rateButton">
                                        </form>
                                    }
                                }
                            </ul>
                        </div>
                    </a>

                </div>
                <ul class="media-list content" id="content-@Model.Image.ImageId">
                    @{

                        @Html.Partial("Partials/_SingleImageComment", Model)
                    }
                </ul>

                <form asp-controller="Image" asp-action="PostImageComment" data-ajax="true" data-ajax-method="POST" data-ajax-update="#content-@Model.Image.ImageId" data-ajax-complete="onFormComplete">
                    <input type="hidden" value="@Model.Image.ImageId" name="ImageId"/>
                    <label>Post a Comment</label>
                    <textarea name="Comment" id="comment-@Model.Image.ImageId" class="form-control comment" aria-expanded="False" required="required"></textarea>
                    <br/>
                    <button type="submit" class="btn btn-primary btn-sm pull-right" id="postComment" data-id="@Model.Image.ImageId">
                        <i class="glyphicon glyphicon-upload"></i>
                        Post
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>

@section Functions
{
    <script src="~/Rating/js/star-rating.min.js"></script>
    <script>
        var onBegin = function() {
            $('#hideRating').fadeOut("slow");
            $('#showRatings').fadeIn(300);
        };
        var onFormComplete = function() {
            $('.comment').val('');
        };
    </script>
}