@model List<Image.Models.Entities.Image>
@{
    Layout = "Layout/Dashboard/_LayoutTable";
    ViewBag.PageTitle = "List of Images";
    ViewBag.PageHeader = "Manage Image";
    ViewBag.FormHeader = "List of Image";
}
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Image</h4>
            </div>@using (Html.BeginForm("Delete", "Image"))
                  {
                      <input type="hidden" id="id" name="ImageId"/>
                      <div class="modal-body">

                          @Html.AntiForgeryToken()
                          <p>
                              Are you sure you want to delete the Image?
                          </p>

                      </div>
                      <div class="modal-footer">
                          <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash"/>
                          <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left"/>
                      </div>
                  }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <a href="@Url.Action("Create", "Image")" class="btn btn-primary" data-toggle="tooltip" title="Upload Image">
                Add New
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
</div>
<br/>
<table id="example-2" cellspacing="0" width="100%" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Image</th>
        <th>Date Added</th>
        <th>Title</th>
        <th>Camera</th>
        <th>Location</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>Image</td>
            <td>@item.DateCreated.ToString("D")</td>
            <td>@item.Title</td>
            <td>@item.Camera</td>
            <td>@item.Location</td>
            <td>@item.SellingPrice</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="@Url.Action("Edit", "Image", new {id = item.ImageId})" data-toggle="tooltip" title="Edit the Image">
                                <i class="icon-pencil"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="Delete the Image" data-id="@item.ImageCategoryId" data-toggle="modal" class="loadModal3">
                                <i class="icon-trash"></i> Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
@section Functions {
    <script>
        $(document).ready(function() {
            $(".loadModal3").click(function() { // Click to only happen on announce links
                $("#id").val($(this).data('id'));
                $('#myModal1').modal('show');
            });
        });
    </script>
}