@using CamerackStudio.Models.Entities
@using Microsoft.AspNetCore.Mvc.Rendering
@model CamerackStudio.Models.Entities.ImageSubCategory
@{
    Layout = "Layout/Dashboard/_LayoutForm";
    ViewBag.PageTitle = "Create Image Sub-Category";
    ViewBag.PageHeader = "Image Sub-Category";
    ViewBag.FormHeader = "Create an Image Sub- Category (Make sure to fill all compulsory fields *)";
    long categoryId = ViewBag.CategoryId;
}
@section Breadcrumbs
    {
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li><a href="@Url.Action("Dashboard","Home")">Dashboard</a></li>
            <li><a href="@Url.Action("Index")">Image Sub Categories</a></li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
@using (Html.BeginForm("Create", "ImageSubCategory", FormMethod.Post, new {enctype = "multipart/form-data", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CategoryId", categoryId)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    <div class="form-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label"})<span class="required">*</span>
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", placeholder = "Please enter the category name"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="@Url.Action("Index")"  class="btn btn-default">Cancel</a>
    </div>
}