@model List<CamerackStudio.Models.Entities.ImageSubCategory>
@{
    Layout = "Layout/Dashboard/_LayoutTable";
    ViewBag.PageTitle = "List of Sub-Categories";
    ViewBag.PageHeader = "Manage Sub-Categories";
    ViewBag.FormHeader = "List of Sub-Categories";
    long categoryId = ViewBag.CategoryId;
}
@section Breadcrumbs
{
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li><a href="@Url.Action("Dashboard","Home")">Dashboard</a></li>
            <li><a href="@Url.Action("Index","ImageCategory")">Image Categories</a></li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Category</h4>
            </div>@using (Html.BeginForm("Delete", "ImageSubCategory"))
            {
                <input type="hidden" id="id" name="CategoryId" />
                    <div class="modal-body">

                        @Html.AntiForgeryToken()
                        <p>
                            Are you sure you want to delete the Category?
                        </p>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash" />
                        <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left" />
                    </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <a href="@Url.Action("Create", "ImageSubCategory",new{id = categoryId})" class="btn btn-primary" data-toggle="tooltip" title="Add New Category">
                Add New
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
</div>
<br />
<table id="example-2" cellspacing="0" width="100%" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="@Url.Action("Images", "ImageSubCategory", new {id = item.ImageSubCategoryId})" data-toggle="tooltip" title="View Images within this category">
                                    <i class="icon-pencil"></i> View Images
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Edit", "ImageSubCategory", new {id = item.ImageSubCategoryId})" data-toggle="tooltip" title="Edit the Category">
                                    <i class="icon-pencil"></i> Edit
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tooltip" title="Delete the Category" data-id="@item.ImageSubCategoryId" data-toggle="modal" class="loadModal3">
                                    <i class="icon-trash"></i> Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Functions {
    <script>
        $(document).ready(function() {
            $(".loadModal3").click(function() { // Click to only happen on announce links
                $("#id").val($(this).data('id'));
                $('#myModal1').modal('show');
            });
        });
    </script>
}