@using Image.Models.Entities
@model List<PhotographerCategory>
@{
    Layout = "Layout/Dashboard/_LayoutTable";
    ViewBag.PageTitle = "List of Photographer Categories";
    ViewBag.PageHeader = "Manage My Photographer Categories";
    ViewBag.FormHeader = "Select and Remove the below listed photographer categories";
}
@section Css
{
    <style>
        .check {
            color: #996;
            opacity: 0.5;
        }

    </style>
}
@section Breadcrumbs
{
    <div class="pull-left">
        <h4 class="mt-0 mb-5">@ViewBag.PageHeader</h4>
        <ol class="breadcrumb mb-0">
            <li>
                <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
            </li>
            <li class="active">@ViewBag.PageHeader</li>
        </ol>
    </div>
}
<div class="row" id="categoryBody">
    @{

        Html.RenderPartial("Partials/_PartialPhotoCategory", Model);
    }
</div>
<div class="row" id="">
    <a href="@Url.Action("Dashboard","Home")" class="btn btn-primary btn-lg btn-block" style="color: white; background: black;">Done..<i class="fa fa-check"></i></a>
</div>
    @section Functions
        {
        <script>
        $(document).ready(function(e) {
            $(".img-check").click(function() {
                $(this).toggleClass("check");
                var url =
                    "@Url.Action("MapAndUnmapPhotographyCategory", "PhotographerCategory")"; // the url to the controller
                var id = $(this).data('id'); // the id that's given to each button in the list
                $.get(url + '/' + id,
                    function (data) {
                        //console.log(data);
                        //$('#categoryBody').html(data);
                    });
            });
        });
        </script>
    }
