@model List<Image.Models.Entities.ImageComment>
@foreach (var items in Model.Take(6))
{
    <li class="media">
        <div class="media-left avatar">
            <img alt="" src="~/UploadedImage/ProfilePicture/@items.AppUser.ProfilePicture" class="media-object img-circle"><span class="status bg-success"></span>
        </div>
        <div class="media-body">
            <h5 class="media-heading inline-block">@items.AppUser.Name</h5>
            <time datetime="2015-12-10T20:50:48+07:00" class="text-muted fs-12">
                @items.DateCreated.ToString("D") <i class="ti-time"></i> @items.DateCreated.ToString("h:mm:ss tt")</time>
            <p>@items.Comment</p>

        </div>
     
    </li>
}
@if (Model.Count > 6)
{
    <a href="#">View @(Model.Count - 6) comments</a>
}