<aside data-mcs-theme="minimal-dark" class="main-sidebar mCustomScrollbar">
    <div class="user">
        <div id="esp-user-profile" data-percent="65" style="height: 104px; width: 104px; line-height: 80px; padding: 12px;" class="easy-pie-chart"><img src="~/Dashboard/build/images/users/04.jpg" alt="" class="avatar img-circle"><span class="status bg-success"></span></div>
        <h4 class="fs-14 text-muted mt-15 mb-5 fw-300">Matthew Gonzalez</h4>
        <p class="fs-13 mb-0 text-muted">Designer</p>
    </div>
    <ul class="list-unstyled navigation mb-0">
        <li class="sidebar-header pt-0">Main</li>
        <li><a href="@Url.Action("Dashboard","Home")" class="active bubble"><i class="ti-home"></i> Dashboard<span class="badge bg-danger">3</span></a></li>
        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed"><i class="ti-paint-bucket"></i> Users Management</a>
            <ul id="collapse1" class="list-unstyled collapse">
                <li><a href="@Url.Action("","")">All Users</a></li>
                <li><a href="@Url.Action("","")">Photographers</a></li>
                <li><a href="@Url.Action("Index","Role")">Roles</a></li>
            </ul>
        </li>
        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed"><i class="ti-brush-alt"></i> Subscription Managment</a>
            <ul id="collapse2" class="list-unstyled collapse">
                <li><a href="@Url.Action("Index","Package")">Packages</a></li>
            </ul>
        </li>
        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-brush-alt"></i> System Set-Up</a>
            <ul id="collapse3" class="list-unstyled collapse">
                <li><a href="@Url.Action("Index","ImageCategory")">Image Category</a></li>
            </ul>
        </li>
        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapsed"><i class="ti-brush-alt"></i> Tasks</a>
            <ul id="collapse4" class="list-unstyled collapse">
                <li><a href="@Url.Action("","")">Competitions</a></li>
            </ul>
        </li>
        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"><i class="ti-shopping-cart"></i> My Images @*<span class="label label-outline label-success">New</span>*@</a>
            <ul id="collapse5" class="list-unstyled collapse">
                <li><a href="product-list.html">Product list</a></li>
                <li><a href="edit-product.html">Edit product</a></li>
                <li><a href="order-list.html">Order list</a></li>
                <li><a href="edit-order.html">Edit order</a></li>
                <li><a href="customer-list.html">Customer list</a></li>
                <li><a href="edit-customer.html">Edit customer</a></li>
            </ul>
        </li>
    </ul>
</aside>