@using Image.Models.Entities
@using Image.Models.Enum
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    Role userRole = null;
    if (Context.Session.GetString("Role") != null)
    {
        var roleString = Context.Session.GetString("Role");
        userRole = JsonConvert.DeserializeObject<Role>(roleString);
    }
    AppUser appUser = null;
    if (Context.Session.GetString("ImageLoggedInUser") != null)
    {
        var userString = Context.Session.GetString("ImageLoggedInUser");
        appUser = JsonConvert.DeserializeObject<AppUser>(userString);
    }
    Package package = null;
    if (Context.Session.GetString("Package") != null)
    {
        var packageString = Context.Session.GetString("Package");
        package = JsonConvert.DeserializeObject<Package>(packageString);
    }

}
<aside data-mcs-theme="minimal-dark" class="main-sidebar mCustomScrollbar">
    <div class="user">
        <a href="@Url.Action("Profile", "Account")">
            <div id="esp-user-profile" data-percent="65" style="height: 104px; line-height: 80px; padding: 12px; width: 104px;" class="easy-pie-chart">
                @if (appUser != null)
                {
                    <img src="~/UploadedImage/ProfilePicture/@appUser.ProfilePicture" alt="" class="avatar img-circle"><span class="status bg-success"></span>
                }
            
            </div>
        </a>
        @if (appUser != null)
        {
            <h4 class="fs-14 text-muted mt-15 mb-5 fw-300">@appUser.Name</h4>
        }
     
    </div>
    <ul class="list-unstyled navigation mb-0">
        <li class="sidebar-header pt-0">Main Menu</li>
        <li>
            <a href="@Url.Action("Dashboard", "Home")" class="active bubble"><i class="ti-home"></i> Dashboard<span class="badge bg-success">Active</span></a>
        </li>
        @if (userRole != null && userRole.ManageApplicationUser)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed"><i class="ti-user"></i> Users Management</a>
                <ul id="collapse1" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "AppUser")">All Users</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Role")">Roles</a>
                    </li>
                </ul>
            </li>
        }
        @if (userRole != null && userRole.ManageImages)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"><i class="ti-image"></i>Images @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse5" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Image")">Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Pending.ToString()})">Pending Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Accepted.ToString()})">Accepted Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Rejected.ToString()})">Rejected Images </a>
                    </li>
                </ul>
            </li>
        }
        @if (userRole != null && userRole.ManagePackages)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed"><i class="ti-package"></i> Subscription Managment</a>
                <ul id="collapse2" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Package")">Packages</a>
                    </li>
                </ul>
            </li>
        }
        @if (userRole != null && userRole.ManageImageCategory || userRole != null && userRole.ManagePhotographerCategory)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-files"></i> Category Management</a>
                <ul id="collapse3" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "ImageCategory")">Image Category</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "PhotographerCategory")">Photographer Category</a>
                    </li>
                </ul>
            </li>
        }
        @if (userRole != null && userRole.ManageCompetition)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapsed"><i class="ti-crown"></i> Competition Management</a>
                <ul id="collapse4" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Competition")">Competitions</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CompetitionUpload", "Competition")">Competition Uploads</a>
                    </li>
                </ul>
            </li>
        }
        @if (userRole != null && userRole.UploadImage)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"><i class="ti-image"></i> My Images @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse5" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Image")">Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Pending.ToString()})">Pending Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Accepted.ToString()})">Accepted Images </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Image",new{status = ImageStatus.Rejected.ToString()})">Rejected Images </a>
                    </li>
                </ul>
            </li>
        }

        @if (userRole != null && userRole.ManageOrders)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse7" aria-expanded="false" aria-controls="collapse7" class="collapsed"><i class="ti-shopping-cart"></i> My Store @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse7" class="list-unstyled collapse">
                <li>
                    <a href="@Url.Action("Index", "Order")">Orders </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Payment")">Payment </a>
                </li>
                </ul>
            </li>
        }
        @if (userRole != null && userRole.UploadImage)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse9" aria-expanded="false" aria-controls="collapse9" class="collapsed"><i class="ti-file"></i> My Categories @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse9" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("SelectCategories", "PhotographerCategory")">Categories </a>
                    </li>

                </ul>
            </li>
        }
        @if (userRole != null && userRole.ParticipateCompetition && package != null && package.Competition)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse10" aria-expanded="false" aria-controls="collapse10" class="collapsed"><i class="ti-crown"></i> My Competitions @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse10" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Competition")">Competitions </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CompetitionUpload", "Competition")">Competition Uploads</a>
                    </li>
                </ul>
            </li>
        }
        @if (userRole != null && userRole.ParticipateCompetition && package != null && package.Contracts)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse10" aria-expanded="false" aria-controls="collapse10" class="collapsed"><i class="ti-crown"></i> My Contracts @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse10" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Competition")">Competitions </a>
                    </li>
                </ul>
            </li>
        }
        @if (userRole != null && userRole.ManageCameras)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse6" aria-expanded="false" aria-controls="collapse6" class="collapsed"><i class="ti-camera"></i> My Camera's @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse6" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Camera")">Camera's</a>
                    </li>
                </ul>
            </li>
        }
        @if (userRole != null && userRole.ManageLocations)
        {
            <li class="panel">
                <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse8" aria-expanded="false" aria-controls="collapse8" class="collapsed"><i class="ti-map"></i> My Image Location's @*<span class="label label-outline label-success">New</span>*@</a>
                <ul id="collapse8" class="list-unstyled collapse">
                    <li>
                        <a href="@Url.Action("Index", "Location")">Locations</a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</aside>