@using Image.Models.Entities
@using Microsoft.AspNetCore.Http
@model List<PhotographerCategory>
@{
    List<PhotographerCategoryMapping> mapping = ViewBag.Mapping;
    var signedInUserId = Context.Session.GetInt32("userId");
}

@foreach (var item in Model)
{
    var id = "cb" + item.PhotographerCategoryId;
    var mappingExist = mapping.SingleOrDefault(n => n.PhotographerCategoryId == item.PhotographerCategoryId && n.AppUserId == signedInUserId);
    if (mappingExist != null)
    {
        <a class="col-md-4 col-sm-6" href="#">
            <div class="widget text-center">
                <div class="widget-body">
                    <label class="btn btn-primary">
                        <img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png" alt="..." class="img-thumbnail img-check check" data-id="@item.PhotographerCategoryId"><input type="checkbox" name="chk1" id="@id" data-id="@item.PhotographerCategoryId" value="@item.PhotographerCategoryId" class="hidden" autocomplete="off">
                        <p class="text-center">@item.Name</p>
                        <br/>
                        <p class="text-center">@item.Description</p>
                    </label>
                </div>
            </div>
        </a>
    }
    else
    {
        <a class="col-md-4 col-sm-6" href="#">
            <div class="widget text-center">
                <div class="widget-body">
                    <label class="btn btn-primary">
                        <img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png" data-id="@item.PhotographerCategoryId" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk1" id="@id" data-id="@item.PhotographerCategoryId" value="@item.PhotographerCategoryId" class="hidden" autocomplete="off">
                        <p class="text-center">@item.Name</p>
                        <br/>
                        <p class="text-center">@item.Description</p>
                    </label>
                </div>
            </div>
        </a>
    }
}

<script type="text/javascript" src="~/Dashboard/plugins/jquery/dist/jquery.min.js"></script>