@using CamerackStudio.Models.Entities
@using CamerackStudio.Models.Enum
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    Layout = "Layout/Dashboard/_LayoutDashboard";
    ViewBag.PageTitle = "Dashboard : Home";
    ViewBag.PageHeader = "Dashboard";

    List<Order> orders = ViewBag.Orders;
    List<Payment> payments = ViewBag.Payments;
    List<Image> images = ViewBag.Images;
    List<AppUser> appUsers = ViewBag.AppUsers;
}
<div class="row">
    <a class="col-md-3 col-sm-6" href="@Url.Action("Index", "Image")">
        <div class="widget text-center">
            <div class="widget-body">
                <h5 class="mb-5">Uploaded Images</h5>
                <div class="fs-36 fw-600 mb-20 counter">@if (images != null)
                                                        {
                                                            @images.Count
                                                        }</div>
                <div id="esp-photo" data-percent="55" style="height: 10px; line-height: 20px; padding: 5px; width: 140px;" class="easy-pie-chart fs-36">
                    <i class="ti-image text-muted"></i>
                </div>
            </div>
        </div>
    </a>
    <a class="col-md-3 col-sm-6" href="@Url.Action("Index", "Image", new {status = ImageStatus.Accepted.ToString()})">
        <div class="widget text-center">
            <div class="widget-body">
                <h5 class="mb-5">Accepted Images</h5>
                <div class="fs-36 fw-600 mb-20 counter">@if (images != null)
                                                        {
                                                            @images.Where(n => n.Status == ImageStatus.Accepted.ToString()).ToList().Count
                                                        }</div>
                <div id="esp-feedback" data-percent="20" style="height: 10px; line-height: 20px; padding: 5px; width: 140px;" class="easy-pie-chart fs-36">
                    <i class="ti-image text-muted"></i>
                </div>
            </div>
        </div>
    </a><a class="col-md-3 col-sm-6" href="@Url.Action("Index", "Image", new {status = ImageStatus.Rejected.ToString()})">
        <div class="widget text-center">
            <div class="widget-body">
                <h5 class="mb-5">Rejected Images</h5>
                <div class="fs-36 fw-600 mb-20 counter">@if (images != null)
                                                        {
                                                            @images.Where(n => n.Status == ImageStatus.Rejected.ToString()).ToList().Count
                                                        }</div>
                <div id="esp-feedback" data-percent="20" style="height: 10px; line-height: 20px; padding: 5px; width: 140px;" class="easy-pie-chart fs-36">
                    <i class="ti-image text-muted"></i>
                </div>
            </div>
        </div>
    </a>
    <a class="col-md-3 col-sm-6" href="@Url.Action("Index", "Order")">
        <div class="widget text-center">
            <div class="widget-body">
                <h5 class="mb-5">Orders</h5>
                <div class="fs-36 fw-600 mb-20 counter">@orders.Count</div>
                <div id="esp-feedback" data-percent="20" style="height: 10px; line-height: 20px; padding: 5px; width: 140px;" class="easy-pie-chart fs-36">
                    <i class="ti-shopping-cart text-muted"></i>
                </div>
            </div>
        </div>
    </a>
    <a class="col-md-3 col-sm-6" href="@Url.Action("Index", "Payment")">
        <div class="widget text-center">
            <div class="widget-body">
                <h5 class="mb-5">Pending Payments</h5>
                <div class="fs-36 fw-600 mb-20 counter">@payments.Where(n => n.Status == PaymentStatus.Pending.ToString()).ToList().Count</div>
                <div id="esp-feedback" data-percent="20" style="height: 10px; line-height: 20px; padding: 5px; width: 140px;" class="easy-pie-chart fs-36">
                    <i class="ti-money text-muted"></i>
                </div>
            </div>
        </div>
    </a>
    <a class="col-md-3 col-sm-6" href="@Url.Action("Index", "Payment")">
        <div class="widget text-center">
            <div class="widget-body">
                <h5 class="mb-5">Approved Payments</h5>
                <div class="fs-36 fw-600 mb-20 counter">@payments.Where(n=>n.Status == PaymentStatus.Paid.ToString()).ToList().Count</div>
                <div id="esp-feedback" data-percent="20" style="height: 10px; line-height: 20px; padding: 5px; width: 140px;" class="easy-pie-chart fs-36">
                    <i class="ti-money text-muted"></i>
                </div>
            </div>
        </div>
    </a>
    <div class="col-md-12">
        <div class="widget no-border">
            <table id="order-table" style="width: 100%" class="table table-hover dt-responsive nowrap">
                <thead>
                <tr>
                    <th style="width: 16%">Order ID</th>
                    <th style="width: 37%">Customer</th>
                    <th style="width: 20%">Date Added</th>
                    <th style="width: 12%">Total</th>
                    <th style="width: 15%">Completed</th>
                </tr>
                </thead>
                <tbody>
                @if (orders.Count > 0)
                {
                    foreach (var item in orders)
                     {
                         <tr>
                             <td>@item.OrderNumber</td>
                             <td>
                                 <div class="media">
                                     <div class="media-left avatar">
                                         <img src="~/UploadedImage/ProfilePicture/Avatar.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span>
                                     </div>
                                     <div class="media-body">
                                         <h5 class="media-heading">


                                             @if (appUsers != null)
                                             {
                                                 var singleOrDefault = appUsers.SingleOrDefault(n => n.AppUserId == item.AppUserId);

                                                 if (singleOrDefault != null)
                                                 {
                                                     @singleOrDefault.Name
                                                 }
                                             }
                                         </h5>
                                     </div>
                                 </div>
                             </td>
                             <td>@item.DateCreated.ToString("f")</td>
                             <td>

                                 @{
                                     var orDefault = images.SingleOrDefault(n => n.ImageId == item.ImageId);
                                 }
                                 @if (orDefault != null)
                                 {
                                     @orDefault.SellingPrice
                                 }</td>
                             <td class="text-center text-success">
                                 <i class="ti-check"></i>
                             </td>
                         </tr>
                     }  
                }
         

                </tbody>
            </table>
        </div>
    </div>
</div>