@using Image.Models.Enum
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.PageTitle</title>
    <!-- PACE-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/PACE/themes/blue/pace-theme-flash.css">
    <script type="text/javascript" src="~/Dashboard/plugins/PACE/pace.min.js"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/themify-icons/themify-icons.css">
    <!-- Primary Style-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/build/css/second-layout.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://--> 
    <!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-image: url(~/Dashboard/build/images/backgrounds/16.jpg)" class="body-bg-full">
<div class="container page-container">

    <div class="page-content">
        @if (TempData["display"] != null)
        {
            if (TempData["notificationtype"].Equals(NotificationType.Success.ToString()))
            {
                <div class="alert alert-success alert-dismissable">
                    @TempData["display"] <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
            }
            else if (TempData["notificationtype"].Equals(NotificationType.Error.ToString()))
            {
                <div class="alert alert-danger alert-dismissable">
                    @TempData["display"] <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
            }
            else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
            {
                <div class="alert alert-info alert-dismissable">
                    @TempData["display"] <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
            }
        }
        <div class="logo"><i class="ti-underline"></i>
        </div>
        @RenderBody()
    </div>
</div>
<!-- Demo Settings end-->
<!-- jQuery-->
<script type="text/javascript" src="~/Dashboard/plugins/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<!-- Bootstrap JavaScript-->
<script type="text/javascript" src="~/Dashboard/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Custom JS-->
<script type="text/javascript" src="~/Dashboard/build/js/second-layout/extra-demo.js"></script>
</body>
</html>