@using Image.Models.Enum
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.PageTitle</title>
    <!-- PACE-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/PACE/themes/blue/pace-theme-flash.css">
    <script type="text/javascript" src="~/Dashboard/plugins/PACE/pace.min.js"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/themify-icons/themify-icons.css">
    <!-- Malihu Scrollbar-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css">
    <!-- Animo.js-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/animo.js/animate-animo.min.css">
    <!-- Bootstrap Progressbar-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <!-- Image Cropper-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/cropper/dist/cropper.min.css">
    <!-- Bootstrap File Input-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/plugins/bootstrap-fileinput/css/fileinput.min.css">
    <!-- Primary Style-->
    <link rel="stylesheet" type="text/css" href="~/Dashboard/build/css/second-layout.css">
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    @RenderSection("Css", false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .required { color: red }
    </style>
</head>
<body data-sidebar-color="sidebar-light" class="sidebar-light">
<!-- Header start-->
@Html.Partial("Partials/_NavigationPartial");
<!-- Header end-->
<div class="main-container">
    <!-- Main Sidebar start-->
    @Html.Partial("Partials/_LeftSideBarPartial");
    <!-- Main Sidebar end-->
    <div class="page-container">
        <div class="page-header clearfix">
            <div class="pull-left">
                <h2 class="mt-0 mb-5">@ViewBag.PageHeader</h2>
            </div>
        </div>

        @if (TempData["display"] != null)
        {
            if (TempData["notificationtype"].Equals(NotificationType.Success.ToString()))
            {
                <div class="alert alert-success alert-dismissable">
                    @TempData["display"] <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
            }
            else if (TempData["notificationtype"].Equals(NotificationType.Error.ToString()))
            {
                <div class="alert alert-danger alert-dismissable">
                    @TempData["display"] <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
            }
            else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
            {
                <div class="alert alert-info alert-dismissable">
                    @TempData["display"] <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
            }
        }
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-heading">
                            <h3 class="widget-title">@ViewBag.FormHeader</h3>
                        </div>
                        <div class="widget-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Right Sidebar start-->
    @*@Html.Partial("Partials/_RightSideBarPartial");*@

    <!-- Right Sidebar end-->
</div>
<!-- Demo Settings start-->
<!-- Demo Settings end-->
<!-- jQuery-->
<script type="text/javascript" src="~/Dashboard/plugins/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<!-- Bootstrap JavaScript-->
<script type="text/javascript" src="~/Dashboard/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Malihu Scrollbar-->
<script type="text/javascript" src="~/Dashboard/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Animo.js-->
<script type="text/javascript" src="~/Dashboard/plugins/animo.js/animo.min.js"></script>
<!-- Bootstrap Progressbar-->
<script type="text/javascript" src="~/Dashboard/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- jQuery Easy Pie Chart-->
<script type="text/javascript" src="~/Dashboard/plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<!-- DropzoneJS-->
<script type="text/javascript" src="~/Dashboard/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<!-- Image Cropper-->
<script type="text/javascript" src="~/Dashboard/plugins/cropper/dist/cropper.min.js"></script>
<!-- Bootstrap FileStyle-->
<script type="text/javascript" src="~/Dashboard/plugins/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>
<!-- Custom JS-->
<script type="text/javascript" src="~/Dashboard/build/js/second-layout/app.js"></script>
<script type="text/javascript" src="~/Dashboard/build/js/second-layout/demo.js"></script>
<script type="text/javascript" src="~/Dashboard/build/js/page-content/apps/image-cropper.js"></script>
    <script type="text/javascript" src="~/Dashboard/build/js/page-content/file-uploads/bootstrap-file-input.js"></script>

@RenderSection("Scripts", false)
@RenderSection("Functions", false)
</body>
</html>